<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="libs/jquery-mobile/jquery.mobile-1.4.2.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>How u doin'</title>
    </head>
    <body>
   <!-- Start of first page -->
        <div data-role="page" id="start">

            <div data-role="header" data-position="fixed">
                <h1 style="font-size: 20px;">How u doin'</h1>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <div>
                    <a href="#questions" class="ui-btn gimme-question">Questions</a>
                    <a href="#stats" class="ui-btn">Statistics</a>
                    <a href="#" class="ui-btn">Personalize</a>
                </div>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <h4>Created @ GBG Startup Hack</h4>
            </div><!-- /footer -->
        </div><!-- /page -->

        <div data-role="page" id="questions">
        </div><!-- /page -->

        <script type="text/template" id="single-choice-question">
            <div data-role="header" data-position="fixed" class="ui-header ui-bar ui-bar-inherit ui-header-fixed slidedown">
                <% console.log(this); %>
                <h1 class="ui-title" style="font-size: 20px;"><%= title %></h1>
                <a href="#start" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <p style="font-size: 18px;"><%= text %></p>
                <% _.each(choices, function(choice) { %> 
                    <button class="ui-btn answer-question" data-value="<%= choice %>"><%= choice %></button>
                <% }); %>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
                <h4>Created @ GBG Startup Hack</h4>
            </div><!-- /footer -->
        </script>

        <script type="text/template" id="int-question">
            <div data-role="header" data-position="fixed" class="ui-header ui-bar ui-bar-inherit ui-header-fixed slidedown">
                <h1 class="ui-title" style="font-size: 20px;"><%= title %></h1>
                <a href="#start" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <p style="font-size: 18px;"><%= text %></p>
               <div class="ui-field-contain">
                    <input type="number" name="textinput-5" id="textinput-5" placeholder="Number input" value="" data-mini="true">
                </div> 

                <a class="ui-btn answer-question">Next</a>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
                <h4 class="ui-title">Created @ GBG Startup Hack</h4>
            </div><!-- /footer -->
        </script>

        <script type="text/template" id="float-question">
            <div data-role="header" data-position="fixed" class="ui-header ui-bar ui-bar-inherit ui-header-fixed slidedown">
                <h1 class="ui-title" style="font-size: 20px;"><%= title %></h1>
                <a href="#start" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <p style="font-size: 18px;"><%= text %></p>
                <form class="full-width-slider">
                    <input type="range" name="slider-12" id="slider-12" min="0" max="100" value="50">
                </form>
                <a class="ui-btn answer-question">Next</a>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
                <h4 class="ui-title">Created @ GBG Startup Hack</h4>
            </div><!-- /footer -->
        </script>

        <div data-role="page" id="stats">
           <div data-role="header" data-position="fixed" class="ui-header ui-bar ui-bar-inherit ui-header-fixed slidedown">
               <h1>Statistics</h1>
               <a href="#start" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
           </div> 

           <div data-role="main" class="ui-content">
            <div id="container" style="width: 90%; min-width: 310px; height: 240px; margin: 0 auto"></div>

               <p style="font-size: 18px;">On the days that you feel the best, you have...</p>
               <ul data-role="listview">
                <li style="font-size: 16px;">Meditated</li>
                <li style="font-size: 16px;">Slept for <strong>8</strong> hours</li>
                <li style="font-size: 16px;">Worked out</li>
            </ul> 
        </div>

           <div data-role="footer" data-position="fixed">
               <h4 class="ui-title">Created @ GBG Startup Hack</h4>
           </div>
        </div>       
        <script type="text/javascript" src="libs/jquery-1.10.0.js"></script>
        <script type="text/javascript" src="libs/jquery-mobile/jquery.mobile-1.4.2.js"></script>
        <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
        <script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <!-- <script src="http://debug.phonegap.com/target/target-script-min.js#awesomesauceawyeah"></script> -->
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/views.js"></script>
        <script type="text/javascript">
            app.initialize();

            $(function () {
                $('#container').highcharts({
                    chart: {
                        backgroundColor: '#f9f9f9',
                        type: 'spline'
                    },
                    tooltip: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Development of Well Being',
                        x: -20 //center
                    },
                    xAxis: {
                        categories: ['16', '17', '18', '19', '20', '21',
                            '22', '23', '24', '25', '26', '27'],
                        labels: {
                            enabled: false
                        },
                        minorGridLineWidth: 0,
                        gridLineColor: 'transparent'
                    },
                    yAxis: {
                        title: '',
                        max: 10,
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }],
                        labels: {
                            enabled: false
                        },
                        minorGridLineWidth: 0,
                        gridLineColor: 'transparent'
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        name: 'Happiness',
                        data: [1, 2, 3, 4, 2, 7, 8, 9, 7, 6, 7, 10]
                    }]
                });
            });
            

        </script>
    </body>
</html>
